<!DOCTYPE html>
<html>
<head>
<title>Ramanujan Academy | Raipur</title>
<!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="/static/materialize.min.css"  media="screen,projection"/>
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body class="white-text black blue-grey darken-3"  >
	<!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="/static/materialize.min.js"></script>
 		

  <nav>
    <div class="nav-wrapper blue-grey darken-3" style="height: 200px;">
      <a href="#" class="brand-logo"><img src="/static/image/ra_logo.png" style="height: 60px; width: 160px; padding-left: 30px;"></a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li class="blue-grey darken-3 white-text"><a href="results.html" >Results</a></li>
        <li class="blue-grey darken-3 white-text"><a href="#about" class="scroll1">About</a></li>
        <li class="blue-grey darken-3 white-text"><a href="#courses_offered" class="scroll2">Courses Offered</a></li>
        <li class="blue-grey darken-3 white-text"><a href="#contact" class="scroll3">Contact</a></li>
        <li class="blue-grey darken-3 white-text"><a href="ra_admission_form.pdf" >Admission Form</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li class="blue-grey darken-3 white-text"><a href="results.html" >Results</a></li>
        <li class="blue-grey darken-3 white-text"><a href="#about" class="scroll1">About</a></li>
        <li class="blue-grey darken-3 white-text"><a href="#courses_offered" class="scroll2">Courses Offered</a></li>
        <li class="blue-grey darken-3 white-text"><a href="#contact" class="scroll3">Contact</a></li>
        <li class="blue-grey darken-3 white-text"><a href="ra_admission_form.pdf" >Admission Form</a></li>
      </ul>
    </div>
  </nav>
  <script type="text/javascript">
  	$(document).ready(function(){
      $('.slider').slider();
    });  
     $(document).ready(function(){
    $('.collapsible').collapsible();
  });
     $( document ).ready(function(){
     	 $(".button-collapse").sideNav();
     });
     
     $('.scroll1').click( function() {
     $('html, body').animate({
          scrollTop: $('#_about').offset().top
     }, 1500);
});

     $('.scroll2').click( function() {
     $('html, body').animate({
          scrollTop: $('#_courses_offered').offset().top
     }, 1500);
});
     $('.scroll3').click( function() {
     $('html, body').animate({
          scrollTop: $('#_contact').offset().top
     }, 1500);
});

  </script>
<div class="col s6 m6 l6">
<div class="slider" >
    <ul class="slides" style="padding-top: 200px;">
      <li>
        <img src="/static/image/class1.jpeg" > <!-- random image -->
        <div class="caption center-align">
          <h3>Classroom</h3>
          <h5 class="light grey-text text-lighten-3">With best competitive environment</h5>
        </div>
      </li>
      <li>
        <img src="/static/image/class2.jpeg" > <!-- random image -->
        <div class="caption right-align">
          <h3>Ramanujan Academy</h3>
          <h5 class="light grey-text text-lighten-3">Tagore Nagar</h5>
        </div>
      </li>
      <li>
        <img src="/static/image/founder.jpeg">  <!-- random image -->
        <div class="caption right-align">
          <h3>R.K. Ramanujan</h3>
          <h5 class="light grey-text text-lighten-3">Founder</h5>
        </div>
      </li>
      
    </ul>
  </div>
  </div>
        <br>
      
        <div class="container">
        <div class="row" style="padding-top: 220px; ">
        <div class="col s12 m12 l12">
          <div class="card large hoverable">
            <div class="card-image">
              <img src="/static/image/ramanujan_academy.jpg" style="height: 300px; width: 900px;">
              <span class="card-title"></span>
            </div>
            <div class="card-content black-text">
            <h5 class="center">WELCOME</h5>
            	<hr>
              <p class="center ">We Make It Easy So that You Can Take It Easy</p>
              <br>
				<p class="center">We welcome everyone aspiring to compete at 10+2 level and promise to walk hand in hand at every step of the process. For JEE Mains and Advanced and AIPMT/AIIMS Foundation Courses for 9th and 10th.</p>
            </div>
            
          </div>
        </div>
        </div>
        </div>
        
        
        

      <br><br>
      <div class="container" >
	  		<div id="_courses_offered"><a name="courses_offered"><h3 class="center orange-text"><strong class="z-depth-5" style="padding: 10px;">Courses Offered</strong></h3></a></div>	
	  	<br><br>	
  <ul class="collapsible popout" data-collapsible="expandable">
    <li>
      <div class="collapsible-header black-text center-align">Foundation Course</div>
      <div class="collapsible-body white black-text"><p>In RA we believe that a solid foundation is the base for a solid building. A child aiming for IIT’s , NIT’s, Olympiads, NTSE, KVPY or any medical college of national repute, must have a good grip over the basic concepts. So in foundation program we shape the soil for the rigid pot. </p></div>
    </li>
    <li>
      <div class="collapsible-header black-text center-align">Super 30</div>
      <div class="collapsible-body white black-text"><p>RA is the first institute in Raipur C.G. to introduce the Super -30 Batch. We feel that student sailing through the IIT-JEE preparation must be focused on the content of syllabus rather than wasting their morning time with those average students who are not focused so a student in S-30 Batch as bound in four days classroom program in the morning of 8 hours session, in the rest 3 days he/she undergoes intense practice session which ensures his/her success in IIT-JEE to greater extent. </p></div>
    </li>
    <li>
      <div class="collapsible-header black-text center-align">Medical Wing</div>
      <div class="collapsible-body white black-text"><p>In the session 2016 we are introducing Botany and Zoology classes led by our experienced faculties. After two years of rigorous analysis on drawbacks and shortcomings concerned with teaching methodology in Raipur our experience faculty have developed a compact program to ensure success in medical entrance exams in national scenario. </p></div>
    </li>
    <li>
      <div class="collapsible-header black-text center-align">Basic 11th and 12th course</div>
      <div class="collapsible-body white black-text"><p>Error</p></div>
    </li>
    <li>
      <div class="collapsible-header black-text center-align">Other courses</div>
      <div class="collapsible-body white black-text"><p>Error</p></div>
    </li>
  </ul>
        	

  	  </div>

  	  <br><br><br>

  	  <div style="background-color: white ; padding: 10px;">
  	<div class="container about " >
  		<br><br><br><br>
  		<div id="_about"><a name="about"><h3 class="center orange-text "><strong class="z-depth-5" style="padding: 10px;">About</strong></h3></a></div>
  		<br>
  		<hr>
  	  <div class="row">	
  		<div class="col s12 m6 l5">
  			<h5 class="black-text"><strong>Academy<strong></strong></h5>
  			<img src="/static/image/class2.jpeg" style="width: 450px; height: 300px;">
  			<ul>
  				<li class="black-text">Excellent competitive environment</li>
  				<li class="black-text">70+Exclusive Chapterwise Problem Sheet for Practice on each Subject.</li>
  				<li class="black-text">70+Exclusive Chapterwise Problem Sheet for Practice on each Subject.</li>
  				<li class="black-text">"POINTERS" in the form of sheet on each chapter that helps in final abbreviated revision.</li>
  				<li class="black-text">50 + chapterwise test (Objective + Sujective) as per board & Competitive exam.</li>
  				<li class="black-text">One on One Doubt Clearing Session.</li>
  				<li class="black-text">Library with all standard Books of foreign authours.</li>
  				<li class="black-text">Separate batch for AIPMT/AIIMS aspirants.</li>
  				<li class="black-text">Information to Parents through SMS about performance of student.</li>
  			</ul>
  			
  			
  		</div>
  		<div class="col s12 m6 l2"></div>
  		<div class="col s12 m6 l5">
  			<h5 class="black-text"><strong>Founder</strong></h5>
  			<img src="/static/image/founder.jpeg" style="width: 450px; height: 300px;">
  			<p class="black-text">Mr.R.K. Ramanujan has been serving Raipur in the field of IIT-JEE since 2002. He is one of those few mentors in the country who teaches both Mathematics and Physics for IIT-JEE. </p>
  			<br>
  			<p class="black-text">His immense effort and dedication have resulted in selection of not only good students but also average student from Raipur have paved their path to IITs NITs BITs etc.</p>
  			
  			
  			
  		</div>
  	  </div>		
  		
  		

  	</div>
  	</div>

  	<div class="container" >
  	<br><br><br><br>
  		<div id="_contact"><a name="contact"><h3 class="center orange-text"><strong class="z-depth-5" style="padding: 10px;">Contact Us</strong></h3></a></div><br>
  		<hr><br><br>
  		<div class="row">
  		<div class="col s12 m6 l6">
  			<form method="POST" action="/form_submission">
  				
  				<input type="text" name="name" placeholder="Name">
  				
  				<input type="text" name="email" placeholder="E-Mail">
  				
  				<input type="text" name="number" placeholder="Phone Number">
  				
  				<input type="text" name="message" placeholder="Message">
  				<button class="btn waves-effect waves-light" type="submit" name="action">Submit
    				<i class="material-icons right">send</i>
  				</button>

  			</form>
  		</div>
  		<div class="col s12 m6 l6">
  			<div style="width: 100%"><iframe width="100%" height="340" src="http://www.citymaps.ie/create-google-map/map.php?width=100%&amp;height=340&amp;hl=en&amp;q=Tagore%20Nagar%2C%20Raipur%2C%20Chhattisgarh%20492001%2C%20India+(Ramanujan%20Academy)&amp;ie=UTF8&amp;t=&amp;z=16&amp;iwloc=A&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"><a href="http://www.mapsdirections.info/ro/creeaza-harta-google/">Adauga Google Map Website-ului</a> na <a href="http://www.mapsdirections.info/ro/">Planificare rută cu Google Maps</a></iframe></div>
  			
  		</div>
  		
  	</div>
  	</div>
  	<br><br><br><br>
  	<div class="valign-wrapper page-footer blue-grey lighten-4" style="height: auto;">
  		<div class="container" style="width: 100%;">
  			<div class="row" style="padding: 60px;">
  				<div class="col s12 m6 l3">
  					<div class="card hoverable z-depth-5" style="padding: 10px;">
  					<h5 class="card-title black-text center"><strong>Head Office</strong></h5>
  					<p class="black-text text-lighten-5 center">Ramanujan Academy<br> D-318, Tagore Nagar<br>Raipur (C.G) 492001</p></div></div>
  					<div class="col s12 m6 l3">
  					<div class="card hoverable z-depth-5"  style="padding: 10px;">
  					<h5 class="card-title black-text center"><strong>Branch Office</strong></h5>
  					<p class="black-text text-lighten-5 center">Ramanujan Academy<br> 96 Main Road Samta Colony<br>Raipur (C.G) 492001</p></div></div>
  					<div class="col s12 m6 l3">
  					<div class="card hoverable z-depth-5"  style="padding: 10px;">
  					<h5 class="card-title black-text center"><strong>Around the Web</strong></h5>
  					<p class="black-text text-lighten-5 center"></p></div></div>
  					<div class="col s12 m6 l3">
  					<div class="card hoverable z-depth-5"  style="padding: 10px;">
  					<h5 class="card-title black-text center"><strong>Be in Touch</strong></h5>
  					<p class="black-text text-lighten-5 center">Mobile: 9575544000, 9165111222, 8889109999<br> Phone No. : +91 771- 4035072<br>Phone No. : +91 771- 4035072</p></div></div>
  					
  					
  					
  				
  				
  			</div>

  		</div>
  		
	</div>  	

</body>
</html>